@tailwind base;
@tailwind components;
@tailwind utilities;

.incorrect-word::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
}
.cursor {
    position: absolute;
    top: 0;
    min-width: 1px;
    height: 100%;
    border-right: 1px solid red;
    display: inline-block;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}